#
/*
!.gitignore
!examples/
examples/*
!examples/myProj1/
examples/myProj1/.qt*
examples/myProj1/results/
examples/myProj1/frames/
!src/
src/*
!src/veins/
src/veins/*
!src/veins/modules/
src/veins/modules/*
!src/veins/modules/application/
src/veins/modules/application/*
!src/veins/modules/application/traci/
src/veins/modules/application/traci/Tra*


